.t-mt-\[56px\] {
  margin-top: 56px;
}

.t-mt-3 {
  margin-top: 0.75rem;
}

.t-block {
  display: block;
}

.t-flex {
  display: flex;
}

.t-grid {
  display: grid;
}

.t-min-h-screen {
  min-height: 100vh;
}

.t-w-full {
  width: 100%;
}

.t-flex-1 {
  flex: 1 1 0%;
}

.t-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.t-flex-col {
  flex-direction: column;
}

.t-gap-\[20px\] {
  gap: 20px;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-text-center {
  text-align: center;
}

.t-text-\[1\.5rem\] {
  font-size: 1.5rem;
}

.t-font-bold {
  font-weight: 700;
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

html > body :is(h1, h2, h3, h4, h5, h6) {
  font-weight:normal;
  margin:0;
  font-size:1rem;
}

@media (min-width: 640px) {
  .sm\:t-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:t-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  @media (min-width: 640px) {
    .lg\:sm\:t-grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}