.t-mt-\[100px\] {
  margin-top: 100px;
}

.t-mt-3 {
  margin-top: 0.75rem;
}

.t-mt-\[56px\] {
  margin-top: 56px;
}

.t-flex {
  display: flex;
}

.t-min-h-screen {
  min-height: 100vh;
}

.t-flex-1 {
  flex: 1 1 0%;
}

.t-flex-col {
  flex-direction: column;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-text-center {
  text-align: center;
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}