{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block content %}
<section class="section-prod-detail">
    <div class="container">
        <div class="card">
            <div class="card-header">
                상품상세정보
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img class="t-w-full t-max-w-[300px]" src="{{product.thumb_img_url}}" alt="">
                </li>
                <li class="list-group-item">
                    번호 : <span class="badge bg-primary">{{product.id}}</span>
                </li>
                <li class="list-group-item">
                    등록날짜 : <span class="badge bg-secondary">{{product.reg_date}}</span>
                </li>
                <li class="list-group-item">
                    수정날짜 : <span class="badge bg-secondary">{{product.update_date}}</span>
                </li>
                <li class="list-group-item">
                    상품명 : <span class="t-font-bold">{{product.display_name}}</span>
                </li>
                <li class="list-group-item">
                    가격 : <span class="t-font-bold">{{product.sale_price|intcomma}}</span>원
                </li>
                <li class="list-group-item">
                    마켓 : <span class="badge bg-primary">{{product.market.name}}</span>
                </li>
            </ul>

        </div>

        <div class="card t-mt-[30px]">
            <div class="card-header">
                옵션
            </div>

            <ul class="list-group list-group-flush">
                {% for product_real in product_reals %}
                <li class="list-group-item">
                    {{product_real.option_1_type}} : <span class="badge bg-secondary">{{product_real.option_1_display_name}}</span>
                    /
                    {{product_real.option_2_type}} : <span class="badge bg-secondary">{{product_real.option_2_display_name}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card t-mt-[30px]">
            <div class="card-header">
                질문등록
            </div>

            <div class="card-body">
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'products:question_create' product.id %}">
                    {% csrf_token %}
                    {% bootstrap_form question_form %}
                    {% bootstrap_button button_type="submit" content="질문작성" %}
                    {% bootstrap_button button_type="reset" content="취소" %}
                </form>

                {% else %}
                <a href="{% url 'accounts:signin' %}">로그인</a> 후 이용해 주세요
                {% endif %}

                <div class="card t-mt-[30px]">
                    <div class="card-header">
                        질문리스트
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for question in questions %}
                        <li class="list-group-item">
                            <span class="badge bg-secondary">{{question.id}}</span>
                            {{question.body}}
                            {% if question.user == request.user %}
                            <a href="{% url 'products:question_delete' product.id question.id %}"
                               class="btn btn-sm btn-warning"
                               onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false;">삭제</a>
                            <a href="{% url 'products:question_modify' product.id question.id %}"
                               class="btn btn-sm btn-secondary">수정</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}