{% extends "layout.html" %}
{% load django_bootstrap5 %}

{%block content %}
<section class="section-prod-question-modify mt-4">
    <div class="container">
        <h1>상품 기본정보</h1>
        <div>
            번호 : {{product.id}}
        </div>
        <div>
            등록 : {{product.reg_date}}
        </div>
        <div>
            수정 : {{product.update_date}}
        </div>
        <div>
            이름 : {{product.display_name}}
        </div>
        <div>
            가격 : {{product.sale_price}}원
        </div>
        <div>
            마켓 : {{product.market.name}}
        </div>

        <h1 class="mt-3">옵션</h1>
        <ul>
            {% for product_real in product_reals %}
            <li>
                {{product_real.option_1_type}} : {{product_real.option_1_display_name}}
                /
                {{product_real.option_2_type}} : {{product_real.option_2_display_name}}
            </li>
            {% endfor %}
        </ul>

        <h1 class="mt-3">질문 수정</h1>

        <form method="POST" action="{% url 'products:question_modify' product.id question.id %}">
            {% csrf_token %}

            {% bootstrap_form question_form %}
            {% bootstrap_button button_type="submit" content="질문수정" %}
            {% bootstrap_button button_type="reset" content="취소" %}

        </form>
    </div>
</section>
{%endblock%}